<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Monitoring Dashboard</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<h1 class="dashboard-title">
🤖 AI EXAM INVIGILATION DASHBOARD
</h1>

<div class="dashboard">

    <!-- Camera -->

    <div class="camera-panel">

        <img src="{{ url_for('video') }}" class="camera-feed">

    </div>

    <!-- Right Side -->

    <div class="status-panel">

        <div class="status-card">
            <h3>👤 Persons</h3>
            <p id="persons">1</p>
        </div>

        <div class="status-card">
            <h3>📊 Risk</h3>
            <p id="risk">LOW</p>
        </div>

        <div class="status-card">
            <h3>👀 Head Pose</h3>
            <p id="head">Forward</p>
        </div>

        <div class="status-card">
            <h3>📱 Phone</h3>
            <p id="phone">Not Detected</p>
        </div>

        <div class="status-card">
            <h3>🚨 Alerts</h3>
            <p id="alerts">0</p>
        </div>

    </div>

</div>

</body>

</html>